* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --z-index: 0;
}

body {
  background-color: black;
  font-family: "Saira Semi Condensed";
}

input {
  font-family: inherit;
}

@keyframes exit {
  to {
    top: -100%;
    bottom: 100%;
    display: none;
  }
}

.animate {
  animation: exit 1s ease-out forwards;
}

.page {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  width: 70%;
  height: 100dvh;
  display: grid;
  gap: 50px;
  background-color: lightgray;
}

.game-stats {
  font-size: 1.3rem;
}

.rules {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.rules h4 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.rules li {
  list-style-type: decimal;
  margin-bottom: 10px;
}

.start-btn {
  margin-top: 30px;
  background-color: green;
}

.game {
  place-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
}

h1 {
  font-family: "Chakra Petch";
  font-size: 2.3rem;
  margin-bottom: 10px;
}

.number-square {
  position: relative;
  background-color: white;
  display: grid;
  place-items: center;
  width: 150px;
  height: 120px;
}

.number {
  font-size: 1.7rem;
  font-weight: 700;
}

.number-square::before {
  position: absolute;
  z-index: var(--z-index);
  content: "?";
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-family: "Chakra Petch";
  background-color: black;
  color: white;
  display: grid;
  place-items: center;
}

.guess-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input,
button {
  outline: none;
  border: none;
  border-radius: 7px;
  padding: 10px;
  font-size: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

button {
  font-family: "Chakra Petch";
  cursor: pointer;
  color: white;
  box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.3);
  transition: transform 300ms ease, box-shadow 300ms ease;
}

button:hover {
  filter: brightness(1.3);
  transform: scale(1.1);
}

button:active {
  box-shadow: inset 2px 3px 1px rgba(0, 0, 0, 0.3);
}

.guess-input {
  text-align: center;
  border: 1px solid black;
}

.guess-btn {
  background-color: rgb(11, 67, 170);
}

.guess-btn:hover {
  transform: none;
}

.game-functions {
  place-self: end;
  display: flex;
  gap: 10px;
}

.end-btn {
  background-color: rgb(223, 26, 26);
}

.new-btn {
  background-color: green;
}

@media (max-width: 425px) {
  .page {
    width: 100%;
    gap: 0px;
  }

  .start-btn {
    width: 100%;
  }

  .game-stats {
    font-size: 1.1rem;
  }

  .game {
    gap: 10px;
  }

  h1 {
    font-size: 1.8rem;
    margin-bottom: 0;
  }

  .number-square {
    width: 120px;
    height: 90px;
    font-size: 1.2rem;
  }

  .game-functions {
    width: 100%;
    justify-content: space-between;
  }
}
